<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
</head>

<body>
    <nav>
        <div class="authentication">
            <a href="{{url_for('login')}}">Login</a>
        </div>
        <div class="greet">
            <h1>Welcome to Livewire</h1>
        </div>
    </nav>
    <center>
        <form method="POST">
            <input type="text" placeholder="Username" name="name"><br><br>
            <input type="password" placeholder="Password" name="password"><br><br>
            <input type="email" placeholder="Email" name="email"><br><br>
            <input type="number" placeholder="Phone-No" name="phone"><br><br>
            <input type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
        </form>
    </center>
</body>

</html>